{% extends "staff/layout.html" %}
{% block title %}Report broken device{% endblock %}

{% block content %}
<div class="container" >
    <form method="POST" class="col-md-6 form-group required">
        <br/>
        <h2>Update Profile</h2>
        {{ form.hidden_tag() }}
        <br/>
        {{form.full_name.label(class="form-label")}}:
        {{form.full_name(class="form-control") }}
        <br/>
        {{form.office.label(class="form-label")}}:
        {{form.office(class="form-control")}}
        <br/>
        {{form.contact.label(class="form-label")}}(xx-xxxx-xxxx):
        {{form.contact(class="form-control", pattern="[0-9]{2}-[0-9]{4}-[0-9]{4}" ) }}
        <br/>
        {{form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
