{% extends "layout.html" %}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Device Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {{'active' if request.path == '/staff/home' }}" href="/staff/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{'active' if request.path == '/staff/device' }}" href="/staff/device">Devices</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link {{'active' if request.path == '/staff/profile' }}" href="/staff/profile">Profile</a>
                </li>
            </ul>
            <div class="d-flex dropdown">
                <button class="btn btn-dark dropdown-toggle" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {{session['current_user'][1]}}
                </button>
                <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                {% if session['current_user'][4] == 1 %}
                    <li><a class="dropdown-item" href="/staff/switch">Switch to admin</a></li>
                {% endif %}
                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}